<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ app_title }}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #FFFFFF;
        }
        header {
            background-color: #228B22;
            color: white;
            padding: 10px 0;
            text-align: center;
        }        
    </style>
</head>
<body>
    <div class="container">
        <header>
            <h1>{{ app_title }}</h1>
        </header>
        <main>
            <h2 style="text-align: center;">Welcome!</h2>
            <p style="text-align: center;">Aplikasi ini dibuat oleh <em>{{ name }}</em> dari kelas <em>{{ class }}</em>.</p>            
        </main>
    </div>
</body>
</html>