{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'main:show_main' %}"><button>← Back to Home Page</button></a></p>

<h2>{{ product.name }}</h2>
<p style="color: #4c4a4a;"><b>{{ product.get_category_display }}</b> | Brand: {{ product.brand }}
        {% if product.is_featured %} | <b>Featured</b>{% endif %}
</p>
<h3 style="font-weight: bold;">${{ product.price }}</h3>

{% if product.stock > 0 %}
    <p style="color: green; font-weight: bold;">Available</p>
{% else %}
    <p style="color: red; font-weight: bold;">Out of Stock</p>
{% endif %}

{% if product.thumbnail %}
    <img src="{{ product.thumbnail }}" alt="{{ product.name }}" style="max-width: 300px; max-height: 300px; object-fit: cover; border-radius: 10px;">
    <br />
{% endif %}

<h3>Description</h3>
<p>{{ product.description }}</p>

{% endblock content %}